@media (min-width: 30rem) {
    div{
        width: 30px;
        font-size: 10px;
    }
}

@media (max-width: 30rem) {
    div{
        width: 20px;
    }
}

@media (min-width: 30rem) {
    div{
        width: 20px;
    }
}