<div class="dropdown">
    {{> @button }}
    <div class="dropdown__menu">
        
        {{#each dropdownItems }}
            <div>
                {{dropdownItemText}}
            </div>
        {{/each}}
    </div>
</div>